
<style>
.cf {
    font-family: 'Secular One', sans-serif;
}
.cf2 {
        font-family: 'Roboto', sans-serif;
}
.cf3 {
        font-family: 'Ubuntu', sans-serif;
}
.sml {
    font-size: 0.6rem;
}
</style>
</body>
</html> 
