<html>
    <head>
        <<title>All User</title>
    </head>
    <body>
        <h1>Hello</h1>
        <%= message %>
        <%= allUsersList[0].USERNAME %>

        <% for (var i=0; i<allUsersList.length; i++) { %>
            <%= allUsersList[i].USERNAME %>
        <% } %>



    </body>
</html>
