<%- include('./partials/header.ejs') %> <%- include('./partials/navbar.ejs') %>

<h3 class="columns is-centered title m-5 cf">Create a New Team</h3>
<div class="columns is-centered">
    <div class="column is-6">
<form method="POST">
    <div class="columns is-centered is-6 p-5">
        <div class="column box px-5">
            <div class="field">
                <label class="label"> Team Name</label>
                <div class="control">
                    <input name="team_name" class="input" type="text" />
                </div>
            </div>

            <div class="field">
                <label class="label">Team Description</label>
                <div class="control">
                    <input name="team_desc" class="input" type="text" />
                </div>
            </div>

            <div class="field">
                <label class="label"> Select Course : </label>
                <div class="select">
                    <select name="course">
                        <option>Select Course</option>

                        <% for(let i=0; i < allCourses.length; i++) { %>
                        <option><%= allCourses[i].COURSE_ID %></option>
                        <% } %>
                    </select>
                </div>
            </div>

            <p class="control columns is-centered my-3">
                <button class="button is-primary" type="submit">Submit</button>
            </p>
        </div>
    </div>
</form></div>
</div>

<%- include('./partials/footer.ejs') %>
